{% extends 'generator/base.html' %}
{% load static %}

{% block content %}

<div class="cover hidden" data-account-view-cover=""></div>

<div class="mv__container">
    
    <div class="mv__field_container box-shadow-none">
        <a 
            href="{% url 'custom_auth:account_edit' %}" 
            class="btn--custom btn--custom--dark w-100 link"
        >
            Edit Account Details
        </a>
    </div>
    
    <!-- Premium User (Boolean) -->
    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Premium User</div>
        <a 
            href="{% url 'custom_auth:premium_view' %}" 
            class="mv__field_container__val bg-color--less-dark d-flex justify-content-center btn--custom--dark"
        >
            {% if user.is_premium == True %}
                <i class="fas fa-crown fa-crown-custom"></i>
            {% else %}
                Upgrade
            {% endif %}
        </a>
    </div>
    
    <!-- Payment Info -->
    {% if user.is_premium == True %}
    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Payment Info</div>
        {% if user.session_id != null %}
        <!-- TODO: Make this button fill the container -->
            <form 
                action="{% url 'custom_auth:customer_portal' %}" 
                method="POST" class="mv__field_container__val mv__field_container__val__form p-0"
            >
                {% csrf_token %}
                <input type="hidden" id="session-id" name="session_id" value="{{user.session_id}}" />
                <input id="checkout-and-portal-button" type="submit" 
                    value="Manage your billing information &gt;" 
                    class="btn--custom--dark link color--light"
                >
            </form>
        {% else %}
            <div class="mv__field_container__val">
                Unable to retrieve payment information
            </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Username</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{user.username}}</div>
    </div>

    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Email</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{user.email}}</div>
    </div>

    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Date Joined</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{user.date_joined}}</div>
    </div>

    <div class="mv__field_container" data-delete-account-popup-trigger="">
        <div class="btn--custom btn--custom--dark w-100 link link--danger">Delete Account</div>
    </div>
    <form 
        action="{% url 'custom_auth:account_delete' %}" method='POST'
        id="form_delete_popup" class="hidden bg-color--dark rendered-form rendered-form--dark"
    >
        {% csrf_token %}
        {{form_delete.password}}
        <input type="submit" value="Delete Account" class="btn--custom btn--custom--dark link link--danger">
    </form>

</div>


<script src="{% static 'js/pages/account_view.js' %}"></script>
{% endblock content %}