{% extends 'generator/base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'custom_auth:signup' %}" method="POST" class="auth__form">
    {% csrf_token %}
    <!-- TODO: Change placeholders in form and then remove labels and p tags -->
    {{form.username}}
    {{form.email}}
    {{form.password1}}
    {{form.password2}}
    <input type="submit" value="Signup" class="btn btn--outline input">
    <hr class="hr">
    <a href="{% url 'custom_auth:login' %}" class="btn btn--outline">Login</a>
</form>
{% endblock content %}