{% extends 'generator/base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'custom_auth:signup' %}" method="POST" class="auth__form rendered-form rendered-form--dark">
    {% csrf_token %}
    {{form.username}}
    {{form.email}}
    {{form.password1}}
    {{form.password2}}
    <input type="submit" value="Signup" class="btn--custom btn--custom--dark">
    <hr class="hr color--light bg-color--light">
    <a href="{% url 'custom_auth:login' %}" class="btn--custom btn--custom--dark" style="width: 80%;">Login</a>
</form>
{% endblock content %}