{% extends 'generator/base.html' %}
{% load static %}

{% block content %}
<div class="home">
    <h3 class="mb-3 color--light">Maths Generator</h3>
    
    <div class="home__image">
        <img src="{% static 'images/site-logo-1500x1500.png' %}" alt="" width="250">
    </div>
    
    <!-- TODO: Include this somewhere -->
    <!-- <a href="https://www.flaticon.com/free-icons/industry" title="industry icons">
        Industry icons created by Freepik - Flaticon
    </a> -->
    
    <div>
        {% if user.is_anonymous %}
            <a 
                href="{% url 'generator:test_create' %}"
                class="mb-4 btn--custom btn--custom--dark justify-content-around"
            >
                <span>Create Test</span>
                <i class="fas fa-plus ms-2"></i>
            </a>

            <a
                href="{% url 'custom_auth:signup' %}"
                class="btn--custom btn--custom--dark btn--custom--dark--concave justify-content-around"    
            >
                <span>Signup</span>
            </a>
        {% else %}
            <a 
                href="{% url 'generator:preset_create' %}"
                class="mb-4 btn--custom btn--custom--dark justify-content-around px-3 link"
            >
                <span>Create Preset</span>
                <i class="fas fa-plus ms-2"></i>
            </a>

            <a 
                href="{% url 'generator:preset_list' %}"
                class="btn--custom btn--custom--dark btn--custom--dark--concave justify-content-around px-3 link"
            >
                <span>View Presets</span>
                <i class="fas fa-caret-right"></i>
            </a>
        {% endif %}
    </div>
</div>

{% endblock content %}