{% extends 'generator/base.html' %}
{% load static %}

{% block content %}
<div class="home">
    <h3 class="home__title">Maths Generator</h3>
    
    <div class="home__image">
        <img src="{% static 'images/site-logo-1500x1500.png' %}" alt="" width="250">
    </div>
    
    <!-- TODO: Include this somewhere -->
    <!-- <a href="https://www.flaticon.com/free-icons/industry" title="industry icons">
        Industry icons created by Freepik - Flaticon
    </a> -->
    
    <div class="home__btns">
        {% if user.is_anonymous %}
            <a 
                href="{% url 'generator:test_create' %}"
                class="home__btns__btn btn btn--outline"  
                style="display: flex; justify-content: space-around;"  
            >
                Create Test <i class="fas fa-plus"></i>
            </a>
            <a 
                href="{% url 'custom_auth:signup' %}"
                class="home__btns__btn btn btn--outline"    
            >
                Signup
            </a>
        {% else %}
            <a 
                href="{% url 'generator:preset_create' %}"
                class="home__btns__btn btn btn--outline"
                style="display: flex; justify-content: space-around;"
            >
                Create Preset <i class="fas fa-plus"></i>
            </a>
            <a 
                href="{% url 'generator:preset_list' %}"
                class="home__btns__btn btn btn--outline"    
                style="display: flex; justify-content: space-around;"
            >
                View Presets <i class="fas fa-caret-right"></i>
            </a>
        {% endif %}
    </div>
</div>

{% endblock content %}