{% extends 'generator/base.html' %}
{% load static %}
{% block content %}

{% if error %}
    <div class="preset_create__error_msg">{{ error }} <i class="fas fa-times-circle"></i></div>
{% endif %}

<div id="tinted_cover" class="hide_element"></div>
<form action="/preset_edit/{{preset.id}}/" method="POST" class="preset_create__container">
    {% csrf_token %}
    <!-- Title -->
    <div class="preset_create preset_create__title">
        <h4>Title: </h4>
        <input type="text" name="title" value="{{preset.title}}">
    </div>

    <!-- Question Count -->
    <div class="preset_create preset_create__count">
        <h4>Questions: </h4>
        <div>
            <div class="count_change" id="decrease_count">-</div>
            <input type="text" name="question_count" id="question_count" value={{preset.question_count}}>
            <div class="count_change" id="increase_count">+</div>
        </div>
    </div>

    <!-- Topics -->
    <div class="preset_create preset_create__topics">
        <h4>Topics: </h4>
        <div class="btn btn--fill" id="topics">View Topics</div>
        <div id="topics_popup" class="hide_element">
            <ul>
                {% for topic in topics %}
                <li>
                    <h4 class="">
                        <input 
                            type="checkbox" 
                            name="topics"
                            id="topic-{{topic.title}}"
                            data-topic="{{topic.title}}"
                            value="{{topic.title}}"
                        >
                        <label for="topic-{{topic.title}}">
                            <div class="topic_checkbox">
                                <i class="fas fa-check"></i>
                            </div>
                            {{topic.title}}
                        </label>
                        <i 
                            class="fas fa-caret-down fa-2x"
                            data-dropdown-toggle="{{topic.title}}"
                        ></i>
                    </h4>
                    <ul data-subtopic-list="{{topic.title}}">
                        {% for subtopic in topic.subtopic_set.all %}
                            <li>
                                <input 
                                    type="checkbox" 
                                    name="subtopics"
                                    id="subtopic-{{subtopic.title}}"
                                    data-subtopic="{{subtopic.title}}"
                                    data-parent="{{topic.title}}"
                                    value="{{subtopic.title}}"
                                    {% for sub_topic in preset.sub_topics.all %}
                                        {% if sub_topic.title == subtopic.title %}
                                            checked
                                        {% endif %}
                                    {% endfor %}
                                >
                                <label for="subtopic-{{subtopic.title}}">
                                    <div class="topic_checkbox">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    {{subtopic.title}}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Timer -->
    <div class="preset_create preset_create__timer">
        <h4>Timer: </h4>
        <label class="switch">
            <input type="checkbox" name="timer" id="timer" {% if preset.timer %}checked{% endif %}>
            <span class="slider"></span>
            <span class="timer timer--on">On</span>
            <span class="timer timer--off">Off</span>
        </label>
    </div>

    <!-- Timer Type (countdown & stopwatch) -->
    <div class="preset_create preset_create__timer__type">
        <label for="stopwatch" class="container">Stopwatch
            <input type="radio" name="timer_type" id="stopwatch" value="stopwatch" 
                {% if preset.timer_type == 'SW' %}checked{% endif %}
            >
            <span><div></div></i></span>
        </label>
        
        <label for="countdown" class="container">Countdown
            <input type="radio" name="timer_type" id="countdown" value="countdown"
                {% if preset.timer_type == 'CD' %}checked{% endif %}
            >
            <span><div></div></span>
        </label>
    </div>

    <!-- Countdown -->
    <div class="preset_create preset_create__countdown">
        <div class="countdown" data-countdown-hours="">00</div>
        <span>:</span>
        <div class="countdown" data-countdown-minutes="">00</div>
        <span>:</span>
        <div class="countdown" data-countdown-seconds="">00</div>
    </div>
    <input type="hidden" name="timer_length" value="{{preset.timer_length}}">
    <div id="countdown_popup" class="hide_element">
        <div>
            <div class="countdown__change increase__time" data-unit='hours'>
                <i class="fas fa-caret-up fa-2x"></i>
            </div>
            <input type="text" class="countdown__time hours input" value="00" data-input-unit="hours">
            <div class="countdown__change decrease__time" data-unit='hours'>
                <i class="fas fa-caret-down fa-2x"></i>
            </div>
        </div>
        <div>
            <div class="countdown__change increase__time" data-unit='minutes'>
                <i class="fas fa-caret-up fa-2x"></i>
            </div>
            <input type="text"  class="countdown__time minutes" value="00" data-input-unit="minutes">
            <div class="countdown__change decrease__time" data-unit='minutes'>
                <i class="fas fa-caret-down fa-2x"></i>
            </div>
        </div>
        <div>
            <div class="countdown__change increase__time" data-unit='seconds'>
                <i class="fas fa-caret-up fa-2x"></i>
            </div>
            <input type="text" class="countdown__time seconds" value="00" data-input-unit="seconds">
            <div class="countdown__change decrease__time" data-unit='seconds'>
                <i class="fas fa-caret-down fa-2x"></i>
            </div>
        </div>
    </div>


    <!-- Save + Save & Begin -->
    <div class="preset_create preset_create__btns">
        <input class="btn btn--fill" type="submit" value="Update & Begin">
        <input class="btn btn--outline" type="submit" value="Update">
    </div>
</form>
{% endblock content %}