{% extends 'generator/base.html' %}
{% load static %}
{% block content %}

<div class="mv__container">
    <div class="mv__field_container">
        <a href="{% url 'generator:preset_edit' preset.slug %}" class="btn--custom btn--custom--dark">Edit</a>
        <a href="{% url 'generator:test' preset.slug %}" class="btn--custom btn--custom--dark">Start Test</a>
    </div>
    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Title</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{preset.title}}</div>
    </div>
    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Questions</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{preset.question_count}}</div>
    </div>
    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Topics</div>
        <div 
            class="mv__field_container__val bg-color--less-dark color--light" 
            style="cursor: pointer;" 
            data-preset-detail-topics=""
        >
            View Topics &gt;
        </div>
        <div id="detail_topics_popup" class="hidden bg-color--dark">
            <ul>
                {% for topic in preset.topics.all %}
                <li class="color--light">
                    <h4 class="color--light">{{topic.title}}</h4>
                    <ul>
                        {% for subtopic in preset.sub_topics.all %}
                            {% if subtopic in topic.subtopic_set.all %}
                                <li class="color--light">{{subtopic.title}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <hr class="color--light">
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- TODO: Add this once difficulty is sorted out -->
    <!-- <div class="mv__field_container">
        <div class="mv__field_container__key">Difficulty</div>
        <div class="mv__field_container__val">{{preset.difficulty}}</div>
    </div> -->

    <!-- <div class="mv__field_container">
        <div class="mv__field_container__key">Timer</div>
        <div class="mv__field_container__val">{{preset.timer}}</div>
    </div> -->

    <!-- TODO: Change timer type to display stopwatch or countdown -->
    <!-- <div class="mv__field_container">
        <div class="mv__field_container__key">Timer Type</div>
        <div class="mv__field_container__val">{{preset.timer_type}}</div>
    </div> -->
    
    <!-- TODO: Convert timer length to hours/minutes/seconds -->
    <!-- <div class="mv__field_container">
        <div class="mv__field_container__key">Timer Length</div>
        <div class="mv__field_container__val">{{preset.timer_length}}</div>
    </div> -->

    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Best Record</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{preset.best_record}}</div>
    </div>
    
    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Date Created</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{preset.date_created}}</div>
    </div>
    
    <div class="mv__field_container shadow">
        <div class="mv__field_container__key bg-color--darker color--light">Date Modified</div>
        <div class="mv__field_container__val bg-color--less-dark color--light">{{preset.date_modified}}</div>
    </div>

    <!-- Preset Deletion -->
    <div class="mv__field_container">
        <div class="btn--custom btn--custom--dark w-100" data-delete-preset-popup-trigger="">Delete Preset</div>
    </div>
    
    <div class="cover hidden" data-preset-view-cover=""></div>
    <form 
        action="{% url 'generator:preset_delete' preset.slug %}" method='POST'
        id="form_delete_popup" class="hidden bg-color--dark"
    >
        {% csrf_token %}
        <div 
            class="color--light mb-4"
            style="text-align: center; font-size: 1.2rem;">
            Are you sure you want to delete this preset?
        </div>
        <input type="submit" value="Yes" class="btn--custom btn--custom--dark">
    </form>

</div>

<script src="{% static 'js/pages/preset_detail.js' %}"></script>
{% endblock content %}