@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.message__success {
  color: #4db6ac;
}
.message__success__lg {
  color: #4db6ac;
  box-shadow: 0 0 5px #4db6ac, 0 0 15px #4db6ac, 0 0 50px #4db6ac;
}
.message__success__md {
  color: #4db6ac;
  box-shadow: 0 0 4px #4db6ac, 0 0 12px #4db6ac, 0 0 30px #4db6ac;
}
.message__success__sm {
  color: #4db6ac;
  box-shadow: 0 0 2px #4db6ac, 0 0 6px #4db6ac, 0 0 15px #4db6ac;
}

.message__warning {
  color: #fff176;
}
.message__warning__lg {
  color: #fff176;
  box-shadow: 0 0 5px #fff176, 0 0 15px #fff176, 0 0 50px #fff176;
}
.message__warning__md {
  color: #fff176;
  box-shadow: 0 0 4px #fff176, 0 0 12px #fff176, 0 0 30px #fff176;
}
.message__warning__sm {
  color: #fff176;
  box-shadow: 0 0 2px #fff176, 0 0 6px #fff176, 0 0 15px #fff176;
}

.message__error {
  color: #e57373;
}
.message__error__lg {
  color: #e57373;
  box-shadow: 0 0 5px #e57373, 0 0 15px #e57373, 0 0 50px #e57373;
}
.message__error__md {
  color: #e57373;
  box-shadow: 0 0 4px #e57373, 0 0 12px #e57373, 0 0 30px #e57373;
}
.message__error__sm {
  color: #e57373;
  box-shadow: 0 0 2px #e57373, 0 0 6px #e57373, 0 0 15px #e57373;
}

.message__info {
  color: #EEE;
}
.message__info__lg {
  color: #EEE;
  box-shadow: 0 0 5px #EEE, 0 0 15px #EEE, 0 0 50px #EEE;
}
.message__info__md {
  color: #EEE;
  box-shadow: 0 0 4px #EEE, 0 0 12px #EEE, 0 0 30px #EEE;
}
.message__info__sm {
  color: #EEE;
  box-shadow: 0 0 2px #EEE, 0 0 6px #EEE, 0 0 15px #EEE;
}

.btn--custom {
  border-radius: 0.2rem;
  height: 2.5rem;
  padding: 0 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s;
  color: #EEE;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow: 4px 4px 8px #212121, -4px -4px 8px #454545;
}
.btn--custom:hover {
  color: #64B5F6;
}
.btn--custom:focus {
  color: #EEE;
  background: #333;
  box-shadow: inset 8px 8px 16px #212121, inset -8px -8px 16px #454545;
}
.btn--custom--dark {
  color: #EEE;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow: 4px 4px 8px #212121, -4px -4px 8px #454545;
}
.btn--custom--dark--flat {
  color: #EEE;
  background: #333;
  box-shadow: 8px 8px 16px #212121, -8px -8px 16px #454545;
}
.btn--custom--light {
  color: #333;
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: 8px 8px 16px #9b9b9b, -8px -8px 16px #ffffff;
}
.btn--custom--light:hover {
  color: #64B5F6;
}
.btn--custom--light:focus {
  color: #333;
  background: #EEE;
  box-shadow: inset 8px 8px 16px #9b9b9b, inset -8px -8px 16px #ffffff;
}
.btn--custom--light--flat {
  color: #333;
  background: #EEE;
  box-shadow: 8px 8px 16px #9b9b9b, -8px -8px 16px #ffffff;
}

.switch {
  width: 7rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: #EEEEEE;
}
.switch > input {
  display: none;
}
.switch > input:checked + .slider {
  right: 50%;
}
.switch > input:checked ~ .timer--on {
  color: #EEE;
}
.switch > input:checked ~ .timer--off {
  color: #333;
}
.switch > .slider {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-radius: 0.5rem;
  background-color: #64B5F6;
  width: 50%;
  height: 100%;
  transition: right 0.3s;
}

.rendered-form > input {
  width: 80%;
  padding: 0.3rem;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}
.rendered-form--dark > input {
  color: #EEE;
  color: #EEE;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow: 4px 4px 8px #212121, -4px -4px 8px #454545;
}
.rendered-form--dark > input:focus {
  color: #EEE;
  background: #333;
  box-shadow: inset 8px 8px 16px #212121, inset -8px -8px 16px #454545;
}
.rendered-form--light > input {
  color: #333;
  color: #333;
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: 8px 8px 16px #9b9b9b, -8px -8px 16px #ffffff;
}
.rendered-form--light > input:focus {
  color: #333;
  background: #EEE;
  box-shadow: inset 8px 8px 16px #9b9b9b, inset -8px -8px 16px #ffffff;
}

.auth__form {
  margin: 3rem auto auto auto;
  width: clamp(12rem, 22rem, 85vw);
  height: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px #64B5F6, 0 0 10px #64B5F6, 0 0 15px #64B5F6;
}

.rendered-input + input {
  max-width: 15rem;
  width: 8rem;
}
.rendered-input--dark + input {
  color: #EEE;
  color: #EEE;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow: 4px 4px 8px #212121, -4px -4px 8px #454545;
}
.rendered-input--dark + input:focus {
  color: #EEE;
  background: #333;
  box-shadow: inset 8px 8px 16px #212121, inset -8px -8px 16px #454545;
}
.rendered-input--light + input {
  color: #333;
  color: #333;
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: 8px 8px 16px #9b9b9b, -8px -8px 16px #ffffff;
}
.rendered-input--light + input:focus {
  color: #333;
  background: #EEE;
  box-shadow: inset 8px 8px 16px #9b9b9b, inset -8px -8px 16px #ffffff;
}

.input {
  font-size: 1.1rem;
  outline: none;
  border: none;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #EEE;
  border-radius: 0.3rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  transition: all 0.5s;
  width: 100%;
  max-width: max-content;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: rgba(51, 51, 51, 0.9);
}
.message > i {
  margin-left: 1rem;
}
.message__container {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  width: auto;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  z-index: 50;
}

#loading-screen {
  color: #FFF;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.spinner {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/14px 14px no-repeat, conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 14px), #000 0);
  animation: spinner-c7wet2 1.2s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
.nav__bar {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.nav__bar__username {
  font-size: 0.8rem;
}
.nav__bar__username > span {
  font-weight: 700;
}
.nav__toggle {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 33;
  cursor: pointer;
  position: fixed;
  top: 0.8rem;
  left: 0.8rem;
  transition: all 0.3s;
  border-radius: 2rem;
}
.nav__toggle__lines {
  width: 50%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav__toggle__line {
  transition: background 0.3s;
  width: 100%;
  height: 0.25rem;
  border-radius: 2rem;
}
.nav__menu__side {
  position: fixed;
  top: 0;
  left: -15rem;
  width: 15rem;
  min-height: 100vh;
  background-color: #222;
  z-index: 32;
  transition: left 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}
.nav__menu__side > a, .nav__menu__side div {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 3.5rem;
  position: relative;
  transition: background-color 0.3s;
  color: #EEE !important;
  cursor: pointer;
}
.nav__menu__side > a:hover, .nav__menu__side div:hover {
  background-color: rgba(100, 181, 246, 0.5);
}
.nav__menu__side > a > i, .nav__menu__side > a svg, .nav__menu__side div > i, .nav__menu__side div svg {
  padding-left: 1rem;
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked + .nav__menu__side {
  left: 0;
}

.active {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #64B5F6;
  opacity: 0.3;
}

.mv__container {
  width: 90vw;
  max-width: 25rem;
  margin-bottom: auto;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.mv__field_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 3rem;
  border-radius: 0.4rem;
}
.mv__field_container > a {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.mv__field_container > div.btn.btn--outline, .mv__field_container input.btn.btn--outline {
  margin-top: 1rem;
  max-width: 100% !important;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  border-color: #ef5350 !important;
  color: #ef5350;
  box-shadow: 0 0 2px #e57373, 0 0 6px #e57373, 0 0 15px #e57373;
}
.mv__field_container > div.btn.btn--outline:hover, .mv__field_container input.btn.btn--outline:hover {
  background-color: #e57373 !important;
  color: #EEE;
  box-shadow: 0 0 5px #e57373, 0 0 15px #e57373, 0 0 50px #e57373 !important;
}
.mv__field_container__key {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  height: 100%;
  width: 35%;
  font-weight: 700;
  border-radius: 0.4rem 0 0 0.4rem;
}
.mv__field_container__val {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 65% !important;
  padding: 0 0.5rem;
  border: none;
  border-radius: 0 0.4rem 0.4rem 0;
  text-decoration: none;
  overflow: auto;
}
.mv__field_container__val::-webkit-scrollbar {
  width: 0;
  height: 0.25rem;
}
.mv__field_container__val::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.mv__field_container__val::-webkit-scrollbar-thumb {
  background: #888;
}
.mv__field_container__val::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[id=checkout-and-portal-button] {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  margin-top: 2rem;
}
.home__image {
  overflow: hidden;
  border-radius: 0.25rem;
  width: 12rem;
  max-width: 12rem;
  height: max-content;
  margin-bottom: 3rem;
}
.home__image__container {
  overflow: hidden;
  width: 12rem;
  max-width: 12rem;
  height: 12rem;
}

.preset__form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.preset__form > input[type=submit] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 100%;
  max-width: 100%;
}
.preset__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0 0.8rem 0;
  font-size: 1.2rem;
}
.preset__field > label {
  font-size: 1.2rem;
}
.preset__field > label[for=id_timer_length] {
  margin-left: auto;
  margin-right: auto;
}
.preset__field > input, .preset__field select {
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.preset__field__topics > .btn {
  min-width: 8rem;
  max-width: 8rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: 700;
}
.preset__field__topics__popup {
  max-height: 80vh;
  height: 25rem;
  max-width: 80vw;
  width: 30rem;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 0.25rem;
  z-index: 31;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.4s;
  overflow-y: scroll;
  list-style-type: none;
  padding: 1rem;
}
.preset__field__topics__popup::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.2rem;
}
.preset__field__topics__popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.preset__field__topics__popup::-webkit-scrollbar-thumb {
  background: #888;
}
.preset__field__topics__popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.preset__field__topics__popup > li {
  padding: 0.3rem 0;
}
.preset__field__topics__popup > li .custom-checkbox {
  display: flex;
  align-items: center;
}
.preset__field__topics__popup > li .custom-checkbox > input {
  display: none;
}
.preset__field__topics__popup > li .custom-checkbox > input:checked + label > div {
  background-color: #64B5F6;
}
.preset__field__topics__popup > li .custom-checkbox > input:checked + label > div > i {
  color: #EEE;
}
.preset__field__topics__popup > li .custom-checkbox > label {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.preset__field__topics__popup > li .custom-checkbox > label > div {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.25rem;
  display: grid;
  place-items: center;
  padding: 0.15rem;
}
.preset__field__topics__popup > li .custom-checkbox > label > div i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  color: transparent;
}
.preset__field__topics__popup > li .custom-checkbox > label > span {
  padding-left: 0.5rem;
}
.preset__field__topics__popup > li .custom-checkbox > span[data-subtopics-toggle=""] {
  padding-left: 1rem;
  display: flex;
  flex-grow: 1;
}
.preset__field__topics__popup > li .custom-checkbox > span[data-subtopics-toggle=""] > i {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.preset__field__topics__popup > li > ul {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.preset__field__topics__popup > li > ul > li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  list-style-type: none;
}
.preset__field__timer {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
}
.preset__field__timer > input {
  opacity: 0;
  width: 0;
  height: 0;
}
.preset__field__timer > input:checked + .slider {
  background-color: #64B5F6;
}
.preset__field__timer > input:checked + .slider:before {
  transform: translateX(100%);
}
.preset__field__timer > input:focus + .slider {
  box-shadow: 0 0 1px #64B5F6;
}
.preset__field__timer > .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.4s;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px #64B5F6, 0 0 10px #64B5F6, 0 0 15px #64B5F6;
}
.preset__field__timer > .slider:before {
  content: "";
  position: absolute;
  height: 80%;
  width: 44%;
  left: 6%;
  bottom: 10%;
  background-color: #EEE;
  box-shadow: 0 0 2px #64B5F6, 0 0 6px #64B5F6, 0 0 10px #64B5F6 inset;
  transition: 0.4s;
  border-radius: 0.5rem;
}
.preset__field__timer__type {
  display: flex;
  flex-direction: column;
}
.preset__field__timer__type > input[type=radio]:checked + label > div > span {
  opacity: 1;
}
.preset__field__timer__type__option {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.preset__field__timer__type__option__radio_button {
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 2rem;
  background-color: transparent;
  box-shadow: 0 0 2px #64B5F6, 0 0 8px #64B5F6, 0 0 15px #64B5F6;
}
.preset__field__timer__type__option__radio_button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #64B5F6;
  opacity: 0;
  transition: opacity 0.3s;
}
.preset__field__timer__type__option > span {
  padding-left: 1rem;
}
.preset__field__timer__length {
  max-width: 100% !important;
  width: 100% !important;
}
.preset__field__timer__length > .btn.btn--outline {
  max-width: 100% !important;
  width: 100% !important;
  height: 2.5rem !important;
  border-radius: 0.3rem;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.preset__field__timer__length__popup {
  max-height: 80vh;
  height: 25rem;
  max-width: 80vw;
  width: 30rem;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 0.25rem;
  z-index: 31;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.4s;
  overflow-y: scroll;
  max-height: 25rem;
  height: 12rem;
  overflow: hidden;
  list-style-type: none;
  border-radius: 0.5rem;
  padding: 2rem 0.5rem;
}
.preset__field__timer__length__popup::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.2rem;
}
.preset__field__timer__length__popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.preset__field__timer__length__popup::-webkit-scrollbar-thumb {
  background: #888;
}
.preset__field__timer__length__popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.preset__field__timer__length__popup__change_btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.preset__field__timer__length__popup__change_btns:first-child {
  margin-bottom: 0.5rem;
}
.preset__field__timer__length__popup__change_btns:last-child {
  margin-top: 0.5rem;
}
.preset__field__timer__length__popup__change_btns > div {
  width: 3rem;
  height: 2rem;
}
.preset__field__timer__length__popup__change_btns[data-timer-length-increase-btns=""] > div {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}
.preset__field__timer__length__popup__change_btns[data-timer-length-decrease-btns=""] > div {
  border-radius: 0 0 0.25rem 0.25rem !important;
}
.preset__field__timer__length__popup__inputs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
}
.preset__field__timer__length__popup__inputs > input {
  width: 3rem;
  height: 2rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: #EEE;
}

.preset_container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.preset_container > a {
  margin-top: 1.5rem;
  max-width: 12rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.mv__field_container > #detail_topics_popup {
  max-height: 80vh;
  height: 25rem;
  max-width: 80vw;
  width: 30rem;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 0.25rem;
  z-index: 31;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.4s;
  overflow-y: scroll;
}
.mv__field_container > #detail_topics_popup::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.2rem;
}
.mv__field_container > #detail_topics_popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.mv__field_container > #detail_topics_popup::-webkit-scrollbar-thumb {
  background: #888;
}
.mv__field_container > #detail_topics_popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mv__field_container > #detail_topics_popup > ul > hr {
  margin: 0.5rem 0;
}
.mv__field_container > #detail_topics_popup > ul > li > ul > li {
  padding-left: 1rem;
  margin: 0.7rem 0;
}

.test {
  border: 2px solid #FFFFFF;
}
.test__container {
  min-width: 15rem;
  max-width: 100vw;
  width: 100vw;
  min-height: 25rem;
  max-height: 35rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: auto;
  overflow: hidden;
}
.test__container__blank {
  height: 70%;
  display: flex;
}
.test__container__inner {
  position: absolute;
  left: 0;
  height: 70%;
  width: auto;
  display: flex;
  transition: left 0.5s;
}
.test__container__question {
  height: 100%;
  min-width: 15rem;
  max-width: 100vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.8s;
}
.test__container__question:first-child {
  opacity: 1;
}
.test__container__answer {
  display: none;
}
.test__timer {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #d5d5d5;
}
.test__timer__ms {
  font-size: 0.7rem;
}
.test__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
}
.test__btns__answer {
  margin-bottom: 1rem;
  text-align: center;
  outline: none;
  cursor: default;
}
.test__btns__submit {
  font-weight: 500;
}

.question__completion__cover {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  top: 4rem;
  left: 0;
  position: fixed;
  z-index: 25;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}
.question__completion__popup {
  max-height: 80vh;
  height: 25rem;
  max-width: 80vw;
  width: 30rem;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 0.25rem;
  z-index: 31;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.4s;
  overflow-y: scroll;
  width: 20rem;
  height: 8rem;
  padding-bottom: 1rem;
  overflow-y: scroll;
  overflow-x: auto;
  border-radius: 0.5rem;
  z-index: 26;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  pointer-events: none;
}
.question__completion__popup::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.2rem;
}
.question__completion__popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.question__completion__popup::-webkit-scrollbar-thumb {
  background: #888;
}
.question__completion__popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.question__completion__popup::-webkit-scrollbar {
  width: 0px !important;
}
.question__completion__popup::-webkit-scrollbar-track {
  background: #444;
}
.question__completion__popup::-webkit-scrollbar-thumb {
  background-color: #555;
}
.question__completion__popup::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
.question__completion__popup__complete_msg {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
}
.question__completion__popup > button {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question__completion__popup > button > i {
  margin-left: 0.5rem;
}

.test__complete__time {
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.test__complete__btns {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.test__complete__btns > div, .test__complete__btns a {
  font-size: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem !important;
  width: 100%;
}
.test__complete__btns > div > i, .test__complete__btns a > i {
  margin-left: 0.75rem;
}
.test__complete__table {
  display: none;
  overflow-x: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-self: flex-start;
  max-width: 95%;
  height: auto;
  margin-left: 2.5%;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-collapse: collapse;
}
.test__complete__table::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
.test__complete__table::-webkit-scrollbar-track {
  background: #444;
}
.test__complete__table::-webkit-scrollbar-thumb {
  background-color: #555;
}
.test__complete__table::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
.test__complete__table::-webkit-scrollbar-corner {
  background-color: #444;
}
.test__complete__table td, .test__complete__table th {
  min-width: 7rem;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.test__complete__table i {
  color: #64B5F6;
}

#history_page {
  max-width: calc(100vw - 0.75rem);
  align-self: flex-start;
  overflow-x: scroll;
  margin-top: 1rem;
}
#history_page::-webkit-scrollbar {
  width: 0;
  height: 0.4rem;
}
#history_page::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#history_page::-webkit-scrollbar-thumb {
  background: #888;
}
#history_page::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.history__table {
  max-width: 100%;
  margin-bottom: auto;
  border-collapse: collapse;
  border: 4px solid #222;
}
.history__table * {
  user-select: none;
}
.history__table td, .history__table th {
  min-width: 7rem;
  width: 7rem;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.history__table td:first-child, .history__table th:first-child {
  min-width: 9rem;
}
.history__table td:nth-child(2), .history__table th:nth-child(2) {
  min-width: 5rem;
}
.history__table td:last-child, .history__table th:last-child {
  min-width: 10rem;
}
.history__table th {
  font-size: 1.1rem;
  font-weight: 700;
}
.history__table td {
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.history__table td:last-child, .history__table td:first-child {
  padding-right: 0.5rem;
}
.history__table td a {
  text-decoration: none;
  color: #64B5F6;
}
.history__table td a[data-preset-title=""] {
  font-weight: 500;
}

#form_delete_popup {
  max-height: 80vh;
  height: 25rem;
  max-width: 80vw;
  width: 30rem;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 0.25rem;
  z-index: 31;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.4s;
  overflow-y: scroll;
  overflow: none;
  height: max-content;
  width: max-content;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px #e57373, 0 0 6px #e57373, 0 0 10px #e57373 !important;
}
#form_delete_popup::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.2rem;
}
#form_delete_popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#form_delete_popup::-webkit-scrollbar-thumb {
  background: #888;
}
#form_delete_popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#form_delete_popup::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#form_delete_popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#form_delete_popup::-webkit-scrollbar-thumb {
  background: #888;
}
#form_delete_popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#form_delete_popup > input {
  margin-bottom: 2rem;
  width: 15rem;
  max-width: 15rem;
}
#form_delete_popup > input[type=submit]:focus {
  background-color: #e57373;
}

.fa-crown-custom {
  font-size: 1.8rem;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__premium {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 10rem;
}
.form__premium > button {
  margin-top: 2rem;
}
.form__premium > button:disabled {
  pointer-events: none;
  box-shadow: none !important;
  background-color: #444 !important;
  color: #777;
}
.form__premium__option {
  width: 100%;
  height: 10rem;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}
.form__premium__option > input {
  display: none;
}
.form__premium__option > input:checked + label {
  color: #64B5F6 !important;
}
.form__premium__option > input:checked + label.btn--custom--dark {
  color: #EEE;
  background: #333;
  box-shadow: inset 8px 8px 16px #212121, inset -8px -8px 16px #454545;
}
.form__premium__option > input:checked + label.btn--custom--light {
  color: #333;
  background: #EEE;
  box-shadow: inset 8px 8px 16px #9b9b9b, inset -8px -8px 16px #ffffff;
}
.form__premium__option > label {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  border-radius: 0.25rem;
  padding: 0.4rem 0;
}
.form__premium__option > label > div {
  font-size: 2rem;
}
.form__premium__option > label > span {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.btn__cancel-subscription {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.9rem;
}

:root {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box !important;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  background-color: #333333;
  color: #EEEEEE;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.2rem;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #888;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: #EEEEEE;
}

#page {
  width: 100vw;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

.draggable {
  user-select: none;
}
.draggable * {
  user-select: none;
}

.d-none {
  display: none;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  opacity: 0.7;
  background-color: #222;
  transition: opacity 0.5s;
}
.cover--darker {
  background-color: #222;
}
.cover--lighter {
  background-color: #FFF;
}

.transition {
  transition: all 0.3s;
}

.box-shadow-none {
  box-shadow: none !important;
}

.hr {
  margin: 1.5rem 0;
  width: 90%;
  background-color: #333;
  color: #333;
  border-color: #333;
  box-shadow: 0 0 8px 1px #64B5F6;
}

.color--less-light {
  color: #DDD;
  fill: #DDD;
}
.color--light {
  color: #EEE;
  fill: #EEE;
}
.color--lighter {
  color: #FFF;
  fill: #FFF;
}
.color--less-dark {
  color: #444;
  fill: #444;
}
.color--dark {
  color: #333;
  fill: #333;
}
.color--darker {
  color: #222;
  fill: #222;
}
.color--primary {
  color: #64B5F6;
  fill: #64B5F6;
}

.bg-color--less-light {
  background: #DDD;
  background-color: #DDD;
}
.bg-color--light {
  background: #EEE;
  background-color: #EEE;
}
.bg-color--lighter {
  background: #FFF;
  background-color: #FFF;
}
.bg-color--less-dark {
  background: #444;
  background-color: #444;
}
.bg-color--dark {
  background: #333;
  background-color: #333;
}
.bg-color--darker {
  background: #222;
  background-color: #222;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}
.link:hover {
  color: #64B5F6;
}
.link--danger:hover {
  color: #e57373;
}

/*# sourceMappingURL=base.css.map */
