.home
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: auto
    margin-top: 2rem

    &__title
        margin-bottom: 3rem

    &__image
        border: 1px solid #eee
        border-radius: .25rem
        width: 12rem
        height: 12rem
        margin-bottom: 3rem
    
    &__btns

        &__btn
            margin-bottom: 1rem