@use '../components/_popup'
@use '../base/_variables' as v

.mv__field_container  // "pd" is Short for Preset Detail
    
    > #detail_topics_popup
        @include popup.popup

        > ul
            > hr
                margin: .5rem 0
            > li
                > ul
                    > li
                        padding-left: 1rem
                        margin: .7rem 0