@use '../base/_variables' as var
@use '../utils/_utils' as utils


.form__premium
    margin-left: auto
    margin-right: auto
    margin-top: 2rem
    width: 10rem

    > button
        margin-top: 2rem

        &:disabled
            pointer-events: none
            box-shadow: none !important
            background-color: #444 !important
            color: #777
    
    &__option
        width: 100%
        height: 10rem
        display: grid
        place-items: center
        margin-bottom: 2rem

        > input
            display: none

            &:checked + label
                color: var.$primary !important

            &:checked + label.btn--custom--dark
                @include utils.btn-pressed ($theme: dark)
            &:checked + label.btn--custom--light
                @include utils.btn-pressed ($theme: light)


        > label
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            cursor: pointer

            width: 100%
            height: 100%

            transition: all .4s
            border-radius: .25rem

            padding: .4rem 0

            > div
                font-size: 2rem
            
            > span
                margin-top: 0.5rem
                font-size: 1.3rem


.btn__cancel-subscription
    margin-top: 4rem
    margin-left: auto
    margin-right: auto
    text-align: center
    font-size: .9rem