.btn
    display: grid
    place-items: center
    width: 10rem
    // min-width: 10rem
    max-width: 10rem
    height: 2.5rem
    border-radius: .25rem
    border: none
    outline: none
    padding-left: .25rem
    padding-right: .25rem
    margin: 0
    font-size: 1.1rem
    text-decoration: none
    cursor: pointer

    &--outline
        background-color: transparent
        color: #EEEEEE
        height: 2.5rem  // calc(2.5rem - 0.3rem)
        // width: calc(10rem - 0.3rem)
        border: 0.15rem solid #64B5F6 !important
    
    &--fill
        background-color: #64B5F6
        color: #EEEEEE