@use '../base/_variables' as var
@use '../utils/_utils' as utils


.btn--custom
    border-radius: .2rem
    height: 2.5rem
    padding: 0 1rem
    text-decoration: none  // For anchor tag's
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    border: none
    outline: none
    transition: all .3s
    @include utils.btn-concave ($theme: dark)

    &:hover
        color: var.$primary

    &:focus
        @include utils.btn-pressed ($theme: dark)

    &--dark
        @include utils.btn-concave ($theme: dark)

        &--flat
            @include utils.btn-flat ($theme: dark)


    &--light
        @include utils.btn-concave ($theme: light)

        &:hover
            color: var.$primary
    
        &:focus
            @include utils.btn-pressed ($theme: light)

        &--flat
            @include utils.btn-flat ($theme: light)
